# File to ignore when pushing to git
# Ignore all files in the 'obj' folder

# Need this folder because Windows wont create it  
# obj/*.o

#bin/*.o

.DS_Store

.vs/
.vscode/

runtest
scheduling

./java/.metadata/
./.metadata/
